main{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    border: black 1px solid;
    height: 200px;
    width: 400px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.logo {
    height: 200px;
    width: 300px;
}

.err {
    margin-left: 10px;
    font-size: small;
    font-style: italic;
    color: red;
}